<template>
  <v-container>
    <v-layout align-center justify-center>
      <v-dialog v-model="show" ref="dailog" width="480">
        <v-card>
          <v-card-title class="headline grey lighten-1">Error</v-card-title>
          <v-card-text>
            <p>Username or password was wrong!</p>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn flat @click="show = false">OK</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-flex xs12 sm5 md5>
        <v-card flat>
          <v-card-title class="headline grey lighten-1">Auth</v-card-title>
          <v-card-text>
            <v-form ref="form">
              <v-text-field
                id="username"
                prepend-icon="person"
                name="login"
                label="Login"
                type="text"
                v-model="user"
                clearable
              ></v-text-field>
              <v-text-field
                id="password"
                prepend-icon="lock"
                name="password"
                label="Password"
                type="password"
                v-model="pass"
                clearable
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn v-on:click="onAuth">Auth</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
import cookie from "js-cookies";
const isClient = process.client;

export default {
  layout: "defualt",
  data() {
    return {
      user: "",
      pass: "",
      show: false
    };
  },
  methods: {
    onAuth() {
      if (this.$refs.form.validate()) {
        axios
          .get("/login/auth/" + this.user + "/" + this.pass)
          .then(context => {
            if (context.data.auth) {
              if (isClient) {
                cookie.setItem("user", this.user);
              }
              this.$store.commit("set_user", this.user);
              this.$router.push("/home");
            } else {
              this.show = true;
            }
          });
      }
    }
  }
};
</script>
