<template>
  <v-list dense>
    <v-list-tile v-for="item in items" :key="item.title" :to="item.ref" ripple>
      <v-list-tile-action>
        <v-icon>{{item.icon}}</v-icon>
      </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title>{{item.title}}</v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </v-list>
</template>

<script>
export default {
  data() {
    return {
      items: [
        { title: "Home", icon: "dashboard", ref: "/home" },
        { title: "About", icon: "supervised_user_circle", ref: "/users" }
      ]
    };
  },
  methods: {
    onClickTile() {}
  }
};
</script>
