<template>
  <v-text-field single-line>
    <template v-slot:prepend-inner>
      <v-icon>{{icon}}</v-icon>
    </template>
  </v-text-field>
</template>

<script>
export default {
  data() {
    return {
      icon: "chat"
    };
  }
};
</script>

