<template>
  <v-toolbar-items v-if="login">
    <v-btn flat>A1</v-btn>
    <v-btn flat>A2</v-btn>
    <v-btn flat @click="onClickLogout">Logout</v-btn>
  </v-toolbar-items>
  <v-toolbar-items v-else>
    <v-btn flat @click="onClickLogin">Login</v-btn>
  </v-toolbar-items>
</template>

 <script>
import cookies from "js-cookies";
const isClient = process.client;

export default {
  computed: {
    login() {
      return null != this.$store.state.user;
    }
  },
  methods: {
    onClickLogin() {
      this.$router.push("/login");
    },
    onClickLogout() {
      this.$store.commit("clear_user");
      if (isClient) {
        cookies.removeItem("user");
      }
      this.$router.replace("/");
    }
  }
};
</script>
 