<template>
  <v-container>
    <v-card>
      <v-card-title class="title">{{username}}</v-card-title>
      <v-card-text>
        <p>Something about user!</p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  layout: "application",
  middleware: "checkNotAuth",
  data() {
    return {
      username: this.$store.state.user
    };
  }
};
</script>
