<template>
  <v-app id="nmms">
    <v-navigation-drawer v-model="drawer" fixed clipped app>
      <MenuList />
    </v-navigation-drawer>
    <v-toolbar clipped-left fixed app>
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>NMMS</v-toolbar-title>
      <v-spacer></v-spacer>
      <Bar />
    </v-toolbar>
    <v-content>
      <nuxt />
    </v-content>
    <v-footer app>
      <span>&copy; 1diot@2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import Bar from "~/components/topbar";
import MenuList from "~/components/menulist";

export default {
  components: {
    Bar,
    MenuList
  },
  data() {
    return {
      drawer: false
    };
  }
};
</script>
