<template>
  <v-app id="nmms">
    <v-toolbar app>
      <v-toolbar-title>NMMS</v-toolbar-title>
      <v-spacer></v-spacer>
      <Bar />
    </v-toolbar>
    <v-content>
      <nuxt />
    </v-content>
    <v-footer app>
      <span>&copy; 1diot@2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import Bar from "~/components/topbar";

export default {
  components: {
    Bar
  }
};
</script>

<style>
html {
  overflow: auto;
}
</style>

