<template>
  <v-container grid-list-xl>
    <v-card>
      <v-card-title>
        <Searchbar />
      </v-card-title>
      <v-card-text></v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import Searchbar from "~/components/searchbar";

export default {
  layout: "application",
  components: {
    Searchbar
  },
  middleware: "checkNotAuth"
};
</script>
