<template>
  <v-container>
    <v-card>
      <v-card-title>
        <p class="title">{{welcom.title}}</p>
      </v-card-title>
      <v-card-text>
        <p class="body-1">{{welcom.content}}</p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  layout: "defualt",
  middleware: "checkAuth",
  data: () => {
    return {
      welcom: {
        title: "Welcom!",
        content:
          "Welcom to nmms! Wish you enjoy your work and go back home in time!"
      }
    };
  }
};
</script>
